@font-face {
  font-family: shrimp;
  src: url("../resourses/fonts/shrimp/SHRIMP.ttf");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ============================== WIRTE YOUR STYLES HERE =================================== */

.todoApp {
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(
    to right top,
    #536d64,
    #5f7e73,
    #6b9082,
    #77a291,
    #84b4a1
  );

  display: grid;
  place-content: center;
}

.workingBorard {
  height: 40rem;
  width: 48rem;

  border-radius: 1rem;

  /* padding: 2rem 3rem; */

  background-color: white;

  box-shadow: 24px 20px 33px 1px rgba(0, 0, 0, 0.32),
    -3px 4px 3px 1px rgba(0, 0, 0, 0.32);
}

.board {
  height: 100%;
  width: 100%;
  display: flex;
}

.left-board {
  width: 230%;
  height: 100%;

  background-color: #e6e8ed;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  padding: 2rem 3rem;

  overflow: hidden;
}

.right-board {
  width: 100%;
  height: 100%;

  background-color: #f0b4a2;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  padding: 0.2rem 0.8rem;
}

.header-section--left {
  height: 3.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  font-size: 2rem;
  font-family: shrimp;
  font-weight: 200;
}

.bttns {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.bttns > .add,
.del {
  padding: 0.4rem 2rem;
  background-color: #7be1b6;

  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: white;

  font-weight: 400;

  border-radius: 1.5rem;

  transition: all 0.2s ease-in;
}

/* .add:hover,
.del:hover {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
} */

.bttns > .del {
  color: white;
  background-color: #ff6464;
}

.sentance {
  padding: 1rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.inputArea {
  height: 24rem;
  transition: all 0.2s ease-in;
}

.inputArea:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 4px;
}

textarea {
  height: 100%;
  width: 100%;

  resize: none;

  padding: 1rem 1.5rem;

  border-radius: 0.5rem;
  border: none;

  background-color: #e6e8ed;

  font-size: 0.85rem;
  font-family: "Poppins";

  outline: none;
}

textarea:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 215px 5px;
}

.right-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.databoxes {
  width: 100%;
  height: 35rem;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 1rem;
  padding-top: 0.6rem;

  overflow: hidden;
}

.databox {
  width: 10rem;
  height: 5.9rem;
  /* height: auto; */

  /* my way of clipping text in textbox */
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */

  background-color: #f09a7dc6;
  padding: 0.5rem 1rem;
  font-family: "Poppins";
  /* font-size: 0.6rem; */

  border-radius: 0.7rem;

  transition: all 0.225s ease-in-out;
}

.databox > p {
  font-size: 0.8rem;
}

.databox:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pagination {
  width: 100%;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  background-color: #e6e8ed;
  border-radius: 5rem;

  transition: all 0.225s ease-in-out;
}

.next > img,
.prev > img {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}

.prev:hover,
.next:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* code to show only 4 lines in .databox  from web dev simplified. 
He also has other ways */

.text-cutoff {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.fade-in {
  animation: fadeIn 0.35s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* animation from website */

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: none;
  color: #fff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
}

.button:hover {
  background: transparent;
  color: #000;
  box-shadow: rgba(26, 188, 156, 0.2) 0px 7px 29px 0px;
}
.button.del:hover {
  background: transparent;
  color: #000;
  box-shadow: rgba(255, 100, 100, 0.2) 0px 7px 29px 0px;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 150%;
  margin-left: -50px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;

  border-radius: 50%;
}

.button.del:after {
  background: #ff6464;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button:focus {
  outline: 0;
}
